@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
  .skeleton {
    background-color: #dbdbdb;
    opacity: 0.25;
    background-image: linear-gradient(
      to right,
      #dbdbdb 0%,
      rgba(0, 0, 0, 0.05) 20%,
      #dbdbdb 40%,
      #dbdbdb 100%
    );
    background-repeat: no-repeat;
    background-size: 450px 400px;
    animation: shimmer 1s linear infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading {
    border-radius: 50%;
    margin: auto;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(0, 0, 0, 0.2);
    border-top-color: rgb(0, 0, 0);
    animation: spin 1s infinite linear;
    pointer-events: none;
  }
  .scaleAnim {
    animation: scaleAnim 0.2s ease-in-out;
  }
  @keyframes scaleAnim {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@layer components {
  .formButton {
    @apply bg-gray-100 p-[8px] border border-gray-200 rounded-sm text-[12px];
  }
  .storyBorder {
    @apply bg-gradient-to-b from-[#DE0546] to-[#F69D4A] rounded-full;
  }
}
